/** This is the main stylesheet for the sass compiler, all imports should stem from this initial page. It contains the universal styles of the site, the imports and various other items. */
html, html * { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

.todoListMain .header input { padding: 10px; font-size: 16px; border: 2px solid #FFF; width: 165px; }

.todoListMain .header button { padding: 10px; font-size: 16px; margin: 10px; margin-right: 0px; background-color: #0066FF; color: #FFF; border: 2px solid #0066FF; }

.todoListMain .header button:hover { background-color: #003399; border: 2px solid #003399; cursor: pointer; }

.todoListMain .theList { list-style: none; padding-left: 0; width: 250px; }

.todoListMain .theList li { color: #333; background-color: rgba(255, 255, 255, 0.5); padding: 15px; margin-bottom: 15px; border-radius: 5px; list-style: none; }

ul.theList { padding: 0; }

/*# sourceMappingURL=main.css.map */
